* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

/*********MENU**********/

.all {
  width:100%;
  height: 71px;
  display: flex;
  flex-direction: row;
  background-color: #C70039; 
  opacity: 0.9;
  justify-content:space-between;
  align-items:center;
  position: fixed;
  z-index: 2;
}

.all img {
  margin-top: 5px;
  margin-left: 25px;
}

.menu {
  margin-right: 50px;
  margin-top: 15px;
}

.menu ul>li {
  display: inline-block;
  font-size:20px;
  font-family: "Josefin Sans", sans-serif;        
}

.menu ul li a {
  color: white;
  padding: 28px 25px 23px ;
  z-index: 1;
}

.menu a:hover {
  background-color: #A10230;
  transition: all .5s;
  text-decoration: none;
}

.menu ul li ul {
  display: none;
}

.menu ul li:hover ul {
  z-index:2;
  display: block;
  position: absolute;
  margin-top: 16px;
}

.menu ul li ul li {
  display: block;
  background-color: #A10230;
}

.menu ul li ul li a{
  display: block;
  padding:20px 7px 10px;
  background-color:#C70039;
}

/********** Inicio body *********/

.galeria{ 
  background-image: url("../IMG/catering.jpg/");
  background-repeat: repeat;
 }

.caja {
  padding-top: 60px;
  padding-bottom: 50px;

} 

.titulo {


  height: 200px;

  line-height: 40px;
  margin-top: 10px; 
}   

.caja h1 {
  color: #F5A2A5; /*#2C61E0*/
  font-size: 80px;
  font-family: "Josefin Sans", sans-serif; 
   text-shadow:
   -1px -1px 0 black,
    1px -1px 0 black,
   -1px 1px 0 black,
    1px 1px 0 black;
  padding: 50px;
  text-align: center;
}

.zoom {      
-webkit-transition: all 0.35s ease-in-out;    
-moz-transition: all 0.35s ease-in-out;    
transition: all 0.35s ease-in-out;     
cursor: -webkit-zoom-in;      
cursor: -moz-zoom-in;      
cursor: zoom-in; 
}     

.zoom:hover,.zoom:active,.zoom:focus {
-ms-transform: scale(2.5);    
-moz-transform: scale(2.5);  
-webkit-transform: scale(2.5);  
-o-transform: scale(2.5);  
transform: scale(2.5);    
position:relative;      
z-index:100;  
}

/*********inicio footer***********/

footer{
  padding: 1% 3%;
  background-color: #C70039;
  opacity: 0.9; 
  font-family: "Josefin Sans", sans-serif;
  color: white;
  font-size: 17px;
}

footer h3{
  font-weight: bolder;
  font-size: 22px;
}

.mapa-responsive{
  overflow:hidden;
  padding-bottom: 15%;
  position:relative;
}

.mapa-responsive iframe{
  height:100%;
  width:100%;
  position:absolute;
}

.direccion a {
  color: white;
}

.direccion a:hover{
  color: #EAD2AC;
  text-decoration: none;
  font-weight: bolder;
}

.redesSociales a{
  color: white;
}

.redesSociales a:hover{
  color: #EAD2AC;
  text-decoration: none;
  font-weight: bolder;
}

/*********fin footer***********/

/*********queries tablets***********/

@media only screen and (max-width: 800px) {

  .direccion {
    text-align: center;
  }

  .zoom:hover,.zoom:active,.zoom:focus {
-ms-transform: scale(1);    
-moz-transform: scale(1);  
-webkit-transform: scale(1);  
-o-transform: scale(1);  
transform: scale(1);    
position:relative;      
z-index:0;  
}
.all img{
         margin-left:25%;
         width:80%;
         height:45%;
}
  .hamburger{
             position:fixed;
             margin-left:75%;
             height:30px;
             width:30px;
             transform:translate3d(0, 0, 0);
             transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
             z-index:1002;
             cursor:pointer;
             user-select:none;
}
.hamburger.is-active{
  background-color:none;
}
._layer{
  background:#333333;
  margin-bottom:4px;
  border-radius:2px;
  width:28px;
  height:4px;
  opacity:1;
  transform:translate3d(0, 0, 0);
  transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
.hamburger:hover .-top{
  transform:translateY(-100%);
}
.hamburger:hover .-bottom{
  transform:translateY(100%);
  }
.hamburger.is-active .-top{
  transform:translateY(200%) rotate(45deg) !important;
}
.hamburger.is-active .-mid{
  opacity:0;
}
.hamburger.is-active .-bottom{
  transform:translateY(-200%) rotate(135deg) !important;
}

.menu.is_active{
  transform: translate3d(0px, 0px, 0px);
}
.menu{
    height: 100%;
    position: fixed;
    transform: translate3d(0px, -100%, 0px);
    transition: transform 0.95s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    width: 100%;
    z-index: 1001;
    text-align: center;
    margin-top:310px;
}
.menu ul li { 
  list-style: none;
  text-align:center;
   width: 100%;
  display: block;
}
.menu ul li a{
        display: block;
        width:100%; 
        border-bottom: 1px solid #EAEAEB;
        background-color:#C70039 ;
        padding-right: 100px;
}
.menu ul li a:hover{
  text-decoration:none;
}
.menu ul li ul li a{
  display: block;
  margin-top:-15px;
  padding:20px 20px;
  background-color:#C70029;
  width: 100%;
}
.menu ul li ul li a:hover{
  padding:20px 20px;
  background-color:#C70078;
}

}

/*****queries celulares*******/

@media only screen and (max-width:400px) {
   .all img{
         margin-left:25%;
         width:80%;
         height:45%;
}
  .hamburger{
             position:fixed;
             margin-left:75%;
             height:30px;
             width:30px;
             transform:translate3d(0, 0, 0);
             transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
             z-index:1002;
             cursor:pointer;
             user-select:none;
}
.hamburger.is-active{
  background-color:none;
}
._layer{
  background:#333333;
  margin-bottom:4px;
  border-radius:2px;
  width:28px;
  height:4px;
  opacity:1;
  transform:translate3d(0, 0, 0);
  transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
.hamburger:hover .-top{
  transform:translateY(-100%);
}
.hamburger:hover .-bottom{
  transform:translateY(100%);
  }
.hamburger.is-active .-top{
  transform:translateY(200%) rotate(45deg) !important;
}
.hamburger.is-active .-mid{
  opacity:0;
}
.hamburger.is-active .-bottom{
  transform:translateY(-200%) rotate(135deg) !important;
}

.menu.is_active{
  transform: translate3d(0px, 0px, 0px);
}
.menu{
    height: 100%;
    position: fixed;
    transform: translate3d(0px, -100%, 0px);
    transition: transform 0.95s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    width: 100%;
    z-index: 1001;
    text-align: center;
    margin-top: 300px;
}
.menu ul li { 
  list-style: none;
  text-align:center;
}
.menu ul li a{
        display: block;
        width:400px; 
        border-bottom: 1px solid #EAEAEB;
        background-color:#C70039 ;
        padding-right: 100px;
}
.menu ul li a:hover{
  text-decoration:none;
}
.menu ul li ul li a{
  display: block;
  margin-top:-15px;
  padding:20px 20px;
  background-color:#C70029;
}
.menu ul li ul li a:hover{
  padding:20px 20px;
  background-color:#C70078;
}
  .mapa-responsive{
    display: none;
  }

  .direccion{
    text-align: center;
  }

.zoom:hover,.zoom:active,.zoom:focus {
-ms-transform: scale(1);    
-moz-transform: scale(1);  
-webkit-transform: scale(1);  
-o-transform: scale(1);  
transform: scale(1);    
position:relative;      
z-index:0;  
}



.caja h1 {
    font-size: 60px;
  }
}

