*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}
.all {
	width:100%;
	height: 71px;
    display: flex;
    flex-direction: row;
    background-color: #C70039; 
    opacity: 0.9;
    justify-content:space-between;
    align-items:center;
    position: fixed;
    z-index: 2;
}

.all img {
	margin-top: 5px;
	margin-left: 25px;
}

.menu {
	margin-right: 50px;
	margin-top: 15px;
}

.menu ul>li {
	display: inline-block;
	font-size:23px;
	font-family: "Josefin Sans", sans-serif;        
}

.menu ul li a {
	color: white;
   padding: 28px 25px 23px 25px;
}

.menu a:hover {
<<<<<<< HEAD
    background-color:#F563AB;
=======
    background-color: #A10230;
>>>>>>> 3e27d3131e9d4b78fed6edb8f35f52389a36911b
    transition: all .5s;
    text-decoration: none;
}

.menu ul li ul {
    display: none;
}

.menu ul li:hover ul {
	z-index:2;
    display: block;
    position: absolute;
}

.menu ul li ul li {
	display: block;
	background-color: #A10230;
	padding-top: 50px;
}


.caja{
	padding-top: 100px;
	
}

.footer{
	height: 170px;
    background-color: #C70039; 
    opacity: 0.9; 
    font-family: "Josefin Sans", sans-serif;
    color: white;
}

.mapa {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: 10px 0px;
}

.mapa p, i{
	font-size: 25px;
}

.direccion {
	margin-left: 30px;
}

.redesSociales {
 	display: flex;
 	flex-direction: column;
 	justify-content: space-around;
 	align-content: center;
 	align-items: flex-start;
 	margin-top: 20px;
}

.redesSociales i, a{
	font-size: 20px;
	color: black;
}

.redesSociales h4{
	font-size: 25px;
}

.redesSociales a:hover{
	color: black;
	font-weight: bold;
	text-decoration: none;
}