* {
  padding: 0;
  margin: 0;
}

/*********MENU**********/

.all {
  width:100%;
  height: 71px;
  display: flex;
  flex-direction: row;
  background-color: #C70039; 
  opacity: 0.9;
  justify-content:space-between;
  align-items:center;
  position: fixed;
  z-index: 2;
}

.all img {
  margin-top: 5px;
  margin-left: 25px;
}

.menu {
  margin-right: 50px;
  margin-top: 15px;
}

label {
  margin:0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display:none;
}

#toggle {
  display: none;
}

.menu ul>li {
  display: inline-block;
  font-size:20px;
  font-family: "Josefin Sans", sans-serif;        
}

.menu ul li a {
  color: white;
  padding: 28px 25px 23px ;
  z-index: 1;
}

.menu a:hover {
  background-color: #A10230;
  transition: all .5s;
  text-decoration: none;
}

.menu ul li ul {
  display: none;
}

.menu ul li:hover ul {
  z-index:2;
  display: block;
  position: absolute;
  margin-top: 16px;
}

.menu ul li ul li {
  display: block;
  background-color: #A10230;
}

.menu ul li ul li a{
  display: block;
  padding:20px 7px 10px;
  background-color:#C70039;
}

/********* CATERING *********/

.catering {
  padding-top: 70px;
}

.back{
  background-image: url("../IMG/catering.jpg");
  background-repeat: no-repeat;
}

.catering h2{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #A10230;
}

.catering h3{
  margin-top: -3px;
  color: #A10230;
}

.catering ul li {
  margin-left: 5px;
  text-align: left;
}

.catering p {
  margin-bottom: 30px;
}

/************ ANIMACION ************/

.animacion {
  width: 100%;
  padding: 2% 2% 3% 2%;
  text-align: center;
  background-color:#FECCFF;
}

.animacion h2 {
  font-size: 45px;
  color:grey;
  font-weight: bold;
  font-family:"Raleway", sans-serif; 
}

.animacion h3{
  font-weight:bold;
  font-size: 29px;
  color: #C70039;
  font-family:"Raleway", sans-serif;
}

.serv {
  width: 80%;
  height: 300px;
  border-radius: 5%;
}

.animacion p{
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  padding: 3% 0;
}

.margin{
  padding: 2% 2% 3% 9%; 
}

.border{
  border:3px solid white;
  margin: 0 4% 2% 2%;
}

/**************FOTOGRAFIA**************/

.Fotografia {
  width: 100%;
  padding: 4% 2% 3% 2%;
  text-align: center;
  color: #444;
  background-image: url("../IMG/servicios/back.jpg");
}

.Fotografia h2 {
  font-family: "Raleway", sans-serif;
  font-size: 45px;
  font-weight: bold;
}

.Fotografia p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  padding: 3% 0;
}

.fotos {
  color: #333;
  border-radius: 5%;
  background-color: rgba(227,39,93,0.2);
  padding: 1% 3%;
  margin-left: 6%;
}

.fotos img {
  border-radius: 5%;
  width: 90%;
}

.fotos p{
  font-family: "Josefin Sans", sans-serif;
  margin-left: 5%;
  width: 90%;
}

.fotos h3 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  padding-bottom: 3%;
  font-weight: bold;
}

.fotos h4 {
  font-family: "Raleway", sans-serif;
  font-size: 25px;
}

/*********inicio footer***********/

footer{
  padding: 1% 3%;
  background-color: #C70039;
  opacity: 0.9; 
  font-family: "Josefin Sans", sans-serif;
  color: white;
  font-size: 17px;
}

footer h3{
  font-weight: bolder;
  font-size: 22px;
}

.mapa-responsive{
  overflow:hidden;
  padding-bottom: 15%;
  position:relative;
}

.mapa-responsive iframe{
  height:100%;
  width:100%;
  position:absolute;
}

.direccion a {
  color: white;
}

.direccion a:hover{
  color: #EAD2AC;
  text-decoration: none;
  font-weight: bolder;
}

.redesSociales a{
  color: white;
}

.redesSociales a:hover{
  color: #EAD2AC;
  text-decoration: none;
  font-weight: bolder;
}

/*********fin footer***********/

/*********queries tablets***********/

@media only screen and (max-width: 900px) {

  .equip {
    width: 45%;
  }

  .direccion {
    text-align: center;
  }
}

/*****queries celulares*******/

@media only screen and (max-width:400px) {

  .equip {
    display: block;
    width: 100%;
  }

  .mapa-responsive{
    display: none;
  }

  .direccion{
    text-align: center;
  }
}