* {
	padding: 0;
	margin: 0;
}

.all {
	width:100%;
	height: 71px;
    display: flex;
    flex-direction: row;
    background-color: #C70039; 
    opacity: 0.9;
    justify-content:space-between;
    align-items:center;
    position: fixed;
    z-index: 2;
}

.all img {
	margin-top: 5px;
	margin-left: 25px;
}

.menu {
	margin-right: 50px;
	margin-top: 15px;
}

.menu ul>li {
	display: inline-block;
	font-size:23px;
	font-family: "Josefin Sans", sans-serif;        
}

.menu ul li a {
      color: white;
      padding: 28px 25px 21px ;
      z-index: 1;
}

.menu a:hover {
    background-color: #A10230;
    transition: all .5s;
    text-decoration: none;
}

#hva {
	background-color: #A10230;
}
.menu ul li ul {
    display: none;
}

.menu ul li:hover ul {
    z-index:2;
    display: block;
    position: absolute;
    margin-top: 16px;
}

.menu ul li ul li {
  display: block;
  background-color: #A10230;
  
}
.menu ul li ul li a{
  display: block;
  padding:13px;
  background-color:#C70039;
}

.Catering {
	padding-top: 50px;
}

h2, h3 {
	font-family: "Raleway", sans-serif;
}

p {
	font-family: "Josefin Sans", sans-serif;
	font-size: 20px;
}
.animacion {
	     width: 100%;
	     height: 1250px;
	     background-color: lightpink;
	     padding-top: 20px;
}
.animacion h2 {
	font-size: 40px;
	font-weight: bold;
    display: flex;
    justify-content: center;
}
.position {
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	padding:30px 100px 50px 60px;
	flex-wrap: wrap;
}
.dere { 
	width: 40%; 
}
.serv {
	width: 400px;
    height: 350px;
    border-radius: 5%;
}

/**************FOTOGRAFIA**************/

.Fotografia {
	width: 100%;
	background-image: url("../IMG/iconos/glitter4.png");
	background-size: 100%;
	padding: 1% 2% 3% 2%;
	text-align: center;
	color: #444;
}

.Fotografia h2 {
    font-family: "Raleway", sans-serif;
    font-size: 40px;
    font-weight: bold;
}

.Fotografia p {
    font-family: "Josefin Sans", sans-serif;
	font-size: 20px;
	padding: 3% 0;
}

.cuadro {
	border-radius: 5%;
	background-color: rgba(161,2,48,0.8);
	padding: 1% 5%;
}

.fotos {
	padding: 0 10%;
	color: #FFF;
}

.fotos img {
	border-radius: 5%;
}

.fotos p{
    font-family: "Josefin Sans", sans-serif;
    width: 90%;
    margin-left: 5%;
}

.fotos h3 {
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    padding-bottom: 3%;
    font-weight: bold;
}

.fotos h4 {
    font-family: "Raleway", sans-serif;
    font-size: 25px;
}

/*********FOOTER***********/

.footer {
    background-color: #C70039; 
    opacity: 0.9; 
    font-family: "Josefin Sans", sans-serif;
}

.mapa {
	display: flex;
	flex-direction: row ;
	justify-content: space-around;
	align-items: center;
	margin: 10px 0px;
}

.mapa p {
	font-size: 25px;
}

.direccion {
	margin-left: 30px;
}

.redesSociales {
 	display: flex;
 	flex-direction: column;
 	justify-content: space-around;
 	align-content: center;
 	align-items: flex-start;
 	margin-top: 20px;
}

.redesSociales i, a {
	font-size: 20px;
	color: black;
}

.redesSociales h4 {
	font-size: 25px;
}

.redesSociales a:hover {
	color: grey;
	font-weight: bold;
	text-decoration: none;
}