* {
	padding: 0;
	margin: 0;
}

.all {
	width:100%;
	height: 71px;
    display: flex;
    flex-direction: row;
    background-color:#FFE53B; 
    opacity: 0.7;
    justify-content:space-between;
    align-items:center;
    position: fixed;
    z-index: 2;
}

.all img {
	margin-top: 5px;
	margin-left: 25px;
}

.menu {
	margin-right: 50px;
	margin-top: 15px;
}

.menu ul>li {
	display: inline-block;
	font-size:23px;
	font-family: "Josefin Sans", sans-serif;        
}

.menu ul li a {
	color: #514E52;
    padding: 25px;
    padding-left: 25px;
}

.menu a:hover {
    background-color:#F3EB0F;
    transition: all .5s;
    text-decoration: none;
}

.menu ul li ul {
    display: none;
}

.menu ul li:hover ul {
	z-index:2;
    display: block;
    position: absolute;
}

.menu ul li ul li {
	display: block;
}

.fotosSalon {
	padding-top: 71px;
}

.slider1 {
	width: 100%;
	background-image: url("../IMG/header.jpg");
	background-size: 100%;
	background-position: 0 -90px;
	height: 550px;
	background-repeat: no-repeat;
}

.slider1 h1 {
	color: white;
	font-size: 65px;
	font-family: "Josefin Sans", sans-serif; 
	padding: 50px;
}

.quienesSomos {
	width: 100%;
	height: 400px;
	color: #711F8E;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

.presentacion{
	margin-top: -60px;
	width: 80%;
	height: 270px;
	text-align: center;
}

.presentacion h2{
	margin-top: -20px;
	font-family: "Raleway", sans-serif;
	font-size: 50px;
}

.presentacion p {
	line-height: 40px;
	margin-top: 25px;
	font-family: "Josefin Sans", sans-serif;
	font-size: 20px;
}

.slider2 {
	width: 100%;
	height: 400px;
	background-image: url();
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: #000;
	opacity: 0.5;
}

.slider1 div, .slider2 div {
	width: 100%;
	height: 400px;

	text-align: center;
	padding: 150px;
}

form {
	z-index: 1;
	font-family: "Josefin Sans", sans-serif;
}

.formu {
	margin-top: 20px;

}

.ahre {
 	background-image: url("../IMG/form3.jpg");
 	background-attachment: fixed;
 	background-position: top;
 	background-repeat: no-repeat;
 	font-weight: bold;
 	font-size: 20px; 
}

.opa {
	opacity: 0.85;
}


legend {
	font-size: 40px;
}


.footer{
	height: 170px;
    background-color:#FFE53B; 
    opacity: 0.8; 
    font-family: "Josefin Sans", sans-serif;
}

.mapa {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: 10px 0px;
}

.mapa p, i{
	font-size: 25px;
}

.direccion {
	margin-left: 30px;
}

.redesSociales {
 	display: flex;
 	flex-direction: column;
 	justify-content: space-around;
 	align-content: center;
 	align-items: flex-start;
 	margin-top: 20px;
}

.redesSociales i, a{
	font-size: 20px;
	color: black;
}

.redesSociales h4{
	font-size: 25px;
}

.redesSociales a:hover{
	color: grey;
	font-weight: bold;
	text-decoration: none;
}