* {
	padding: 0;
	margin: 0;
}

.all {
	width:100%;
	height: 71px;
    display: flex;
    flex-direction: row;
    background-color:#F6F80F; 
    opacity: 0.9;
    justify-content:space-between;
    align-items:center;
    position: fixed;
    z-index: 2;
}

.all img {
	margin-top: 5px;
}

.menu {
	margin-right: 50px;
	margin-top: 15px;
}

.menu ul li {
	display: inline-block;
	padding-left: 70px; 
	font-size:23px;
	font-family: "Josefin Sans";        
}

.menu ul li a {
	color:grey;
}

.menu ul li a:hover {
    background-color:#F9F732;
	opacity: 0.2;
	transition: all .3s;
	text-decoration: none;
}

.QuienesSomos {
	width: 100%;
	height: 300px;
	color: #6D16FC;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

.presentacion{
	width: 80%;
	height: 200px;
	text-align: center;
}

.presentacion h2{
	margin-top: -20px;
	font-family: 'Raleway', sans-serif;
}

.presentacion p {
	line-height: 40px;
	margin-top: 10px;
	font-family: 'Josefin Sans', sans-serif;
}

.slider1 {
	width: 100%;
	background-image: url("../img/cumple.jpg");
	background-size: 100%;
	background-position: 0 -200px;
	height: 300px;
}

.slider2 {
	width: 100%;
	height: 300px;
	background-image: url("../img/magos-para-cumpleaños-y-comuniones.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

.slider1 div, .slider2 div {
	width: 100%;
	height: 300px;
	background-color: #000;
	opacity: 0.5;
	text-align: center;
	padding: 150px;
}